@font-face {
    font-family: 'American-type';
    src: url(../../Font/AmericanTypewriterRegular.ttf);
}

@font-face {
    font-family: 'stencil';
    src: url(../../Font/Stencil_Std_Bold.ttf);
}

@font-face {
    font-family: 'typewriter';
    src: url(../../Font/Typewriter-Serial_Bold.ttf);
}

* {
    font-family: 'American-type', sans-serif;

}

.mobile-navbar {
    display: none;
}

.bold {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
}

li {
    float: left;
    width: 20%;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.creazione-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 20px auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #F9E248;
}

.box-creazioni {
    width: 25%;
    display: flex;
    justify-content: center;
    background-color: #F9E248;
}

.body-box {
    width: 75%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.articlebox {
    width: 100%;
    height: 100%;
}

.black-box {
    width: 40%;
    height: 100%;
}

.squares-box {
    width: 70%;
}


.text-box {
    width: 50%;
}

.square-position {
    display: flex;
    justify-content: space-between;
    height: 100%
}

.img-resize {
    width: 100%;
    height: 80%;
    margin-left: 50px;
}

/* ------------------------------------------------------- */

/* Responsive */

@media ((min-width: 0px) and (max-width: 500px)) {

    .square-position {
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }



    .img-resize {
        width: 100%;
        height: 120%;
        margin-left: 0;
    }


    .navbar {
        display: none;
    }

    .creazione-navbar {
        display: flex;
        align-items: center;
    }

    .box-creazioni {
        width: 70%;
        text-align: center;
        font-size: 1.7rem;
    }

    .mobile-navbar {
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        text-align: center;
        width: 100%;
    }



    li {
        width: 80%;
        height: 40px;
        margin: 0 auto;
    }

    .body-box {
        flex-direction: column;
        align-items: center;
    }

    .text-box {
        width: 100%;
    }

    .squares-box {
        width: 100%;
        height: 50%;
    }

    .black-box {
        margin: 50px 0px;
    }

    .margin-start {
        margin-left: 0px;
    }

    .margin-end {
        margin-left: 0px;
    }

    .squares-box {
        width: 100%;
    }

    .black-box {
        width: 100%;
    }

    .box-creazioni {
        width: 80%;
    }

    h1 {
        font-size: 1.5rem;

    }
}

@media ((min-width: 500px) and (max-width: 800px)) {
    .navbar {
        display: none;
    }

    .creazione-navbar {
        display: flex;
        align-items: center;
    }

    .box-creazioni {
        width: 70%;
        text-align: center;
    }

    .mobile-navbar {
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        text-align: center;
        width: 100%;
    }


    li {
        width: 50%;
        height: 40px;
        margin: 0 auto;
    }


    .box-creazioni {
        width: 80%;
    }

    h1 {
        font-size: 1.7rem;

    }

}

@media ((min-width: 810px) and (max-width: 1300px)) {
    .navbar {
        align-items: center;
        justify-content: center;
    }

    li:nth-child(2) {
        margin: 15px 300px !important;
    }

    .box-creazioni {
        width: 40%;
    }

    .margin-start {
        margin-left: 150px;
    }

    .margin-end {
        margin-left: 300px;

    }


}