@font-face {
    font-family: 'American-type';
    src: url(../../Font/AmericanTypewriterRegular.ttf);
}

@font-face {
    font-family: 'stencil';
    src: url(../../Font/Stencil_Std_Bold.ttf);
}

@font-face {
    font-family: 'typewriter';
    src: url(../../Font/Typewriter-Serial_Bold.ttf);
}

* {
    font-family: 'American-type', sans-serif;

}

.mobile-navbar {
    display: none;
}

.bold {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: center;
}

li {
    float: left;
    list-style: none;
    margin: 1rem 0;
    box-sizing: border-box;
}

li:nth-child(2) {
    margin: 1rem 30rem !important;
}

li:hover {
    margin-bottom: 0;
    border-bottom: 5px solid #F9E248;
}

.creazione-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 20px auto;
}

.box-creazioni {
    width: 25%;
    display: flex;
    justify-content: center;
    background-color: #F9E248;
}

.body-box {
    width: 75%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.articlebox {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.black-box {
    width: 30%;
    height: 100%;
    background-color: black;
}

.squares-box {
    width: 70%;
    background-color: red;
}

.margin-start {
    margin-left: 150px;
}

.margin-end {
    margin-left: 350px;
}

.text-box {
    width: 50%;
    background-color: blueviolet
}

.square-position {
    display: flex;
    height: 100%
}

/* ------------------------------------------------------- */

/* Responsive */

@media ((min-width: 0px) and (max-width: 500px)) {
    .navbar {
        display: none;
    }

    .creazione-navbar {
        display: flex;
        align-items: center;
    }

    .box-creazioni {
        width: 70%;
        text-align: center;
    }

    .mobile-navbar {
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    li:nth-child(2) {
        margin: 10px auto !important;
    }

    li {
        width: 60%;
        height: 40px;
        margin: 0 auto;
    }

    .body-box {
        flex-direction: column;
        align-items: center;
    }

    .text-box {
        width: 100%;
    }

    .squares-box {
        width: 100%;
        height: 50%;
    }

    .square-position {
        justify-content: space-between;
    }

    .margin-start {
        margin-left: 0px;
    }

    .margin-end {
        margin-left: 0px;
    }

    .squares-box {
        margin-top: 1rem;
        width: 100%;
    }

    .black-box {
        width: 40%;
    }

    .box-creazioni {
        width: 80%;
    }

    h1 {
        font-size: 1.2rem;

    }
}

@media ((min-width: 500px) and (max-width: 800px)) {
    .navbar {
        display: none;
    }

    .creazione-navbar {
        display: flex;
        align-items: center;
    }

    .box-creazioni {
        width: 70%;
        text-align: center;
    }

    .mobile-navbar {
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        text-align: center;
        width: 100%;
    }



    li:nth-child(2) {
        margin: 10px auto !important;
    }

    li {
        width: 50%;
        height: 40px;
        margin: 0 auto;
    }


    .box-creazioni {
        width: 80%;
    }

    h1 {
        font-size: 1.5rem;

    }

}

@media ((min-width: 810px) and (max-width: 1300px)) {
    .navbar {
        align-items: center;
        justify-content: center;
    }

    li:nth-child(2) {
        margin: 15px 300px !important;
    }

    .box-creazioni {
        width: 40%;
    }

    .margin-start {
        margin-left: 150px;
    }

    .margin-end {
        margin-left: 300px;



    }
}