
@font-face {
    font-family: 'American-type';
    src: url(../../Font/AmericanTypewriterRegular.ttf);
}

@font-face {
    font-family: 'stencil';
    src: url(../../Font/Stencil_Std_Bold.ttf);
}

@font-face {
    font-family: 'typewriter';
    src: url(../../Font/Typewriter-Serial_Bold.ttf);
}

*{
    font-family: 'American-type',sans-serif;
    
}

.mobile-navbar{
    display: none;
}

.bold{
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar{
    display: flex;
    justify-content: center;
}
li{
    float: left;
    list-style: none;
    margin: 1rem 0;
    box-sizing: border-box;
}

li:nth-child(2){
    margin: 1rem 30rem !important;
}

.box-creazioni{
    width: 13%;
    background-color: #F9E248;
}

h1{
    width:100%;
    margin: 0;
}

.photos-box{
    width: 70%;
    margin: 0 auto;
    background-color: purple;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.black-box{
    width: 30%;
    height: 100px;
    margin: 50px 0 ;
    background-color: black;
}

li:hover{
    margin-bottom: 0;
    border-bottom: 5px solid #F9E248;
}

.creazione-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 20px auto;
}


/* ------------------------------------------------------- */

/* Responsive */

@media ((min-width: 0px) and (max-width: 500px)) {
    .navbar{
        display: none;
      }
      .creazione-navbar{
        display: flex;
        align-items: center;
        }
      .box-creazioni{
        width: 70%;
        text-align: center;
      }
      .mobile-navbar{
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        text-align: center;
        width: 100%;
      }
      li:nth-child(2){
        margin: 10px auto !important;
     }
    li{
        width: 60%;
        height: 40px;
        margin: 0 auto;
    }
}

    @media ((min-width: 500px) and (max-width: 800px)) {
      .navbar{
        display: none;
      }
      .creazione-navbar{
        display: flex;
        align-items: center;
        }
      .box-creazioni{
        width: 70%;
        text-align: center;
      }
      .mobile-navbar{
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        text-align: center;
        width: 100%;
      }
      li:nth-child(2){
        margin: 10px auto !important;
     }
    li{
        width: 50%;
        height: 40px;
        margin: 0 auto;
    }
 
 
    
}

@media ((min-width: 810px) and (max-width: 1300px)) {
   .navbar{
    align-items:center ;
    justify-content: center;
   }
   li:nth-child(2){
    margin: 15px 300px !important;
 }
 .box-creazioni{
    width: 20%;
 }
}
  