@font-face {
    font-family: 'American-type';
    src: url(../../Font/AmericanTypewriterRegular.ttf);
}

@font-face {
    font-family: 'stencil';
    src: url(../../Font/Stencil_Std_Bold.ttf);
}

@font-face {
    font-family: 'typewriter';
    src: url(../../Font/Typewriter-Serial_Bold.ttf);
}

*{
    font-family: 'American-type',sans-serif;
}

.bold{
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar{
    display: flex;
    justify-content: center;
}
li{
    float: left;
    list-style: none;
    margin: 1rem 0;
}

li:nth-child(2){
    margin: 1rem 30rem;
}

.box-creazioni{
    background-color: #F9E248;
    padding: 0 50px;
}

h1{
    margin: 0;
}

.photos-box{
    width: 70%;
    margin: 0 auto;
    background-color: purple;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.black-box{
    width: 30%;
    height: 100px;
    margin: 50px 0 ;
    background-color: black;
}

li:hover{
    margin-bottom: 0;
    border-bottom: 5px solid #F9E248;
}